/*
Copyright 2005-2014 Föreningen Ambrosiasorden, Robert Sandell. All rights reserved. Under the
Creative Commons Attribution-NonCommercial 4.0 International Public License.

Based on "Sticky footer with fixed navbar" example courtesy Martin Bean and Ryan Fait.
*/
html,body {
    height: 100%;
    background-image: url("img/creampaper.png");
    overflow-y: scroll;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
    padding: 0 0 40px;
    background: url('img/bg-logo-005.png') no-repeat center 62% fixed;
    /*overflow-y: scroll;*/
}

#footer {
    height: 30px;
    min-height: 30px;
    background-color: #1E439A;
    box-shadow: 0px -2px 1px #E6A117;
}

#wrap > .container {
    padding: 100px 15px 0;
}

.container .credit {
    margin: 5px 0;
    color: #E6A117;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

code {
    font-size: 80%;
}

#main-menu {
    background-color: #1E439A;
    margin-top: 38px;
    padding: 7px;
    box-shadow: 0px 2px 1px #E6A117;
}

.navbar-default .navbar-nav > li > a {
    color: #F6D89C;
    padding: 7px;
    font-weight: bold;
    font-size: 15pt;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E6A117;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #658ADD;
    color: #E6A117;
    padding: 7px;
}

.navbar-default .navbar-nav > .active > a:active {
    background-color: #658ADD;
    color: #E6A117;
}

.navbar-default .navbar-nav > .active > a:focus {
    background-color: #658ADD;
    color: #E6A117;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #E6A117;
    background-color: #94AADD;
}

.nav-pills > li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.nav-pills > li > a {
    color: #F6D89C;
    background-color: rgba(30, 67, 154, 0.75);
    margin-left: 4px;
    margin-right: 4px;
    /*opacity: 0.76;*/
}

.nav-pills > li > a > .badge {
    background-color: #9A7B3D;
    text-shadow: none;
}

.nav-pills > li.active > a {
    color: #E6A117;
    background-color: rgba(148, 170, 221, 0.75);
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
}

.nav-pills > li > a:hover {
    background-color: #2F4067;
}

#main-navbar {
    height: 93px;
    background-color: #94AADD;
}

#inner-navbar {
    margin-left: 70px;
}

#main-logo {
    position: fixed;
    float: left;
    margin-left: -60px;
    margin-top: -40px;
    z-index: 200;
}

#name-logo {
    margin-top: -50px;
    margin-right: -50px;
}

.page-header {
    color: #1E439A;
    border-bottom: 1px solid #94AADD;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    color: #1E439A;
}

#bg-logo {
    position: absolute;
    width: 529px;
    height: 569px;
    left: 50%;
    top: 42%;
    margin-left: -264px;
    margin-top: -205px;
    opacity: 0.1;
    filter: alpha(opacity=10);
    z-index: 0;
    background: url('img/bg-logo.png') no-repeat;
}

#main-view {
    z-index: 1;
}

.divider-photo {
    text-align: center;
}

.divider-photo img {
    border: 8px solid white;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 4px 4px 8px #888899;
}

.recept-list {
    width: 220px;
    margin-right: 20px;
    margin-left: -50px;
    margin-top: 40px;
    padding: 0;
    background-color: rgba(246,216,156,0.75);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.recept-list > li > a:hover {
    background-color: rgba(246,197,98,0.75);
}

.recept-list > li > a {
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #658ADD;
}

.recept-list > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.recept-list > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

#styrelse-table {
    width: 70%;
    /*margin-left: auto;*/
    margin-right: auto;
}

#styrelse-table .styrelse-name {
    border-bottom: none;
    font-size: x-large;
}

#styrelse-table .styrelse-title {
    border-top: none;
    line-height: 0.8;
    padding-top: 1px;
    font-style: italic;
}

#styrelse-table .styrelse-info th {
    width: 120px;
    text-align: right;
}

#album-category-panel .panel-body {
    margin-left: 8px;
    /* Internet Explorer 10 */
    /*display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;*/

    /* Firefox */
    /*display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;*/

    /* Safari, Opera, and Chrome */
    /*display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-lines:multiple;
    -webkit-box-orient:horizontal;*/
    /* W3C */
    /*display:box;
    box-pack:center;
    box-align:center;
    box-orient:horizontal;
    box-lines:multiple;*/
}

#album-category-panel .thumbnail {
    border: 1px solid #1E439A;
    margin: 3px;
    background-color: rgba(148, 170, 221, 0.75);
    height: 245px;
    width: 176px;
    float: left;
}

#album-category-panel .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

#album-category-panel .thumbnail h4,h5 {
    margin: 0;
    text-align: center;
    margin-left: -9px;
    margin-right: -9px;
}

#album-category-panel .thumbnail img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #1E439A;
    border-radius: 4px;
}

#album-category-panel .album-summary,.album-author {
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: smaller;
}

#album-category-panel .back-link {
    font-size: smaller;
    position: absolute;
    left: 2px;
    top: 2px;
}

#album-category-panel .maximize-link {
    font-size: smaller;
    position: absolute;
    right: 4px;
    top: 2px;
}

.album-panel-minimized {
    height: 22px;
}

.album-panel-minimized .thumbnail {
    display: none;
}

#album-category-panel {
    background-color: rgba(246,216,156,0.55);
    border: 1px solid #1E439A;
    position: relative;
}

#album-carousel {
    background-color: rgba(148, 170, 221, 0.75);
    border: 1px solid #1E439A;
    border-radius: 4px;
}

#album-carousel .carousel-title {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 8px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);    
    text-align: center;
}

.carousel-title h2,h3,h4,h5 {
    margin-top: 0;
}

#album-carousel .item {
    margin: 8px;
    height: 538px;
}

#album-carousel .carousel-inner .photo {
    margin: auto;
    border: 1px solid #1E439A;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    cursor: pointer;
}

#album-carousel .carousel-inner .photo-horizontal {
    padding-top: 32px; /*calc(50% - 512px);*/
    
}

#album-carousel .carousel-inner .copyright {
    font-size: smaller;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    right: 4px;
}

#album-carousel .carousel-indicators li .thumbnail {
    display: none;
    position: relative;
    bottom: 174px;
    left: 4px;
    border: 1px solid #F6C562;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#album-carousel .carousel-indicators li:hover .thumbnail {
    display: block;
}

#photo-full {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#photo-full .modal-dialog {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 85%;
    margin-left: 7.5%;
    height: 99%;
    margin-top: .1%;
    margin-bottom: auto;
}

#photo-full .modal-dialog .modal-body {
    max-height: none;
    text-align: center;
    margin: 0;
    padding: 4px;
    width: 100%;
    height: 100%;
}

#photo-full .modal-dialog .modal-body img {
    height: 100%;
    border: 1px solid #1E439A;
    border-radius: 4px;
}

#photo-full .modal-content {
    width: 100%;
    height: 100%;
    background-color: rgba(148, 170, 221, 1);
}

#photo-full .modal-content .copyright {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: smaller;
    font-style: italic;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#photo-full .modal-content .close {
    position: absolute;
    right: 4px;
    top: 4px;
    opacity: .8;
    text-shadow: 0 1px 0 #E6A117;
}

#photo-full .modal-content .close:hover {
    cursor: pointer;
}

.panel-body .center {

}