<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Om Hemsidan</h1>
</div>
<p class="lead">
	Text, layout och grafik på denna hemsidan,
	<strong>förutom</strong> Ambrosiasordens logo/sköld, foton i <a href="#/album">Fotoalbumet</a> samt text på/från <a href="http://ambrosiasorden.blogspot.se/">bloggen</a>, 
	och såvidare inget annat anges, är<br/>
	Copyright &copy; 2005-2014 Föreningen Ambrosiasorden, Robert Sandell. All rights reserved.<br/>
	Under licensen <a href="http://creativecommons.org/licenses/by-nc/4.0/legalcode" title="Creative Commons Attribution-NonCommercial 4.0 International Public License">CC BY-NC 4.0</a>.
</p>
<p>
	Programkoden <em>(backend och frontend)</em> är<br/>
	Copyright &copy; 2013,2014 Föreningen Ambrosiasorden, Robert Sandell. All rights reserved.<br/>
	Under <a href="LICENSE_MIT.txt">MIT licensen</a>.
</p>
<p>
	Text på/från <a href="http://ambrosiasorden.blogspot.se/">bloggen</a> tillhör varje individuell författare.
</p>
<p>
	Foton i <a href="#/album">Fotoalbumet</a> tillhör varje individuell fotograf och licensieras separat.
</p>
<p>&nbsp;</p>

<h3>Följande teknologier och resurser används</h3>
<table class="table">
	<tr>
		<td><a href="http://getbootstrap.com/">Bootstrap</a></td>
		<td>Copyright 2011-2014 Twitter, Inc under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a>.</td>
	</tr>
	<tr>
		<td><a href="http://jquery.com/">jQuery</a></td>
		<td>Copyright 2013 jQuery Foundation and other contributors under <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">the MIT license</a>.</td>
	</tr>
	<tr>
		<td><a href="http://jquerymobile.com">jQuery Mobile</a></td>
		<td>Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors under <a href="http://jquery.org/license">the MIT license</a>.</td>
	</tr>
	<tr>
		<td><a href="http://angularjs.org">AngularJS</a></td>
		<td>(c) 2010-2014 Google, Inc. License: <a href="https://github.com/angular/angular.js/blob/master/LICENSE">MIT</a>.</td>
	</tr>
	<tr>
		<td><a href="http://nodejs.org/">Node.js</a></td>
		<td>Copyright Joyent, Inc. and other Node contributors. All rights reserved. <a href="https://raw.github.com/joyent/node/v0.10.24/LICENSE">License</a>.</td>
	</tr>
	<tr>
		<td>Bakgrundsmönster <em>(<a href="http://subtlepatterns.com/cream-paper/">Cream paper</a>)</em></td>
		<td>Made by <a href="http://www.strick9design.com/">Devin Holmes</a>.</td>		
	</tr>
	<tr>
		<td><a href="http://colorschemedesigner.com/#3L21TsOsOFfFf">Färgschemat</a></td>
		<td>Genererat med hjälp av <a href="http://colorschemedesigner.com/">Color Scheme Designer</a> © Petr Stanicek 2002-2010.</td>
	</tr>
	<tr>
		<td>Grundlayout <a href="http://getbootstrap.com/2.3.2/examples/sticky-footer-navbar.html">&quot;Sticky footer&quot;</a></td>
		<td>Example courtesy <a href="http://martinbean.co.uk/">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</td>
	</tr>
</table>