<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Fotoalbum</h1>
</div>
<div class="panel panel-default" id="album-category-panel" ng-class="{'album-panel-minimized': albumPanelMinimized}">
	<div class="panel-body" id="album-categories" ng-cloak="true" ng-show="showCategories()">
		<div class="thumbnail" ng-repeat="cat in categories" ng-click="selectCategory(cat)">
			<img ng-src="{{cat.icon}}" alt="{{cat.category}}"/>
			<div class="caption">
				<h4>{{cat.category}}</h4>
			</div>
		</div>
	</div>
	<div class="panel-body" id="album-sub-categories" ng-cloak="true" ng-show="showSubCategories()">
	<div class="back-link"><a href="#/album"><span class="glyphicon glyphicon-chevron-left"/> Kategorier</a></div>
		<div class="thumbnail" ng-repeat="cat in subCategories" ng-click="selectSubCategory(cat)">
			<img ng-src="{{cat.icon}}" alt="{{cat.subcategory}}"/>
			<div class="caption">
				<h4>{{cat.subcategory}}</h4>
			</div>
		</div>
	</div>
	<div class="panel-body" id="album-albums" ng-cloak="true" ng-show="showAlbums()">
		<div class="back-link"><a href="#/album/{{category}}"><span class="glyphicon glyphicon-chevron-left"/> {{category}}</a></div>
		<div class="maximize-link" ng-show="albumPanelMinimized"><a ng-click="albumPanelMinimized = false;" title="Återställ"><span class="glyphicon glyphicon-chevron-down"/></a></div>
		<div class="maximize-link" ng-hide="albumPanelMinimized"><a ng-click="albumPanelMinimized = true;" title="Minimera"><span class="glyphicon glyphicon-chevron-up"/></a></div>
		<div class="thumbnail" ng-repeat="alb in albums" ng-click="selectAlbum(alb)">
			<img ng-src="{{alb.icon}}" alt="{{alb.title}}"/>
			<div class="caption">
				<h4>{{alb.title}}</h4>
				<div class="album-summary" ng-if="alb.summary">{{alb.summary}}</div>
				<div class="album-author">av <span ng-bind-html="albumAuthorDisplay(alb)"</span></div>
			</div>
		</div>
	</div>
</div>

<div id="album-carousel" class="carousel slide" data-ride="carousel" ng-cloak="true" ng-show="showActiveAlbum()">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#album-carousel" ng-repeat="photo in album.entries" data-slide-to="{{$index}}" ng-class="{active: $first}"><img ng-src="{{thumbnailUrl(photo)}}" class="thumbnail"/></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item" ng-repeat="photo in album.entries" ng-class="{active: $first, 'photo-horizontal': isHorizontal(photo)}">
      <img ng-src="{{getCarouselImgUrl(photo)}}" alt="{{photo.title}}" class="photo" ng-click="showFullPhoto(photo)"/>
      <div class="carousel-caption">
        <h3>{{photo.title}}</h3>
        <p>{{photo.summary}}</p>         
      </div>
      <div class="pull-right copyright"><span ng-bind-html="copyrightDisplay(photo, albums)"></span></div>
    </div>    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" data-slide="prev" ng-click="cprev()">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" data-slide="next" ng-click="cnext()">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

  <div class="carousel-title"><h4 ng-bind-html="carouselTitle(albums)"/></div>
</div>

<div class="modal fade" id="photo-full" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" ng-click="hideFullPhoto()">&times;</button>        
        <img ng-src="{{fullScreenUrl}}" height="100%"/>
        <div class="copyright"><span ng-bind-html="fullScreenCopyright"></span></div>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
	$(document).ready(function() {  
  		$("#album-carousel").swiperight(function() {  
    		$(this).carousel('prev');  
		});  
		$("#album-carousel").swipeleft(function() {  
			$(this).carousel('next');  
		});
		
	});  
</script>
