<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Att njuta är att leva</h1>
</div>
<p class="lead">
    Välkomna till Ambrosiasordens hemsida.
    Vi är ett sällskap som skapades för att vi tröttnade på suputfester och dåligt uppförande.
    Istället vill vi sprida förnöjelse och trevnad under ordnade former, ta tillbaks de ”gamla” umgängesformerna och helt enkelt sprida lite glamor och guldkant på vardagen.
</p>
<p>
    Ambrosiasorden är en opolitisk organisation och skall således inte placeras in på den politiska skalan,
    dock har vi åsikter som vi valt att verka för.
    Ambrosiasorden är också totalt religiöst, socialt, sexuellt och kulturellt obundna,
    och skall verka för ett samhälle där människor har möjlighet att söka sin lycka och njutning
    under förutsättning att detta inte skadar någon varelse fysiskt eller psykiskt.
</p>
<div class="divider-photo">
    <img src="foto/067.JPG" alt="Ambrosiasordens nyårsbankett 2011"/>
</div>