<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Föreningsinformation</h1>
</div>
<p class="lead">
    Medlemsavgiften för 2024 är;
<dl class="dl-horizontal">
    <dt>Riddare/Medlemmar</dt>
    <dd>200kr</dd>
</dl>
</p>
<p>
    Medlemsavgiften betalas in på bank giro nr: <strong>355-2791</strong>
</p>
<p><strong>Organisationsnr:</strong> 802443-6993</p>
<h2>Dokument</h2>
<ul class="doc-list">
    <li class="stadgar">
        <a href="https://drive.google.com/file/d/1PWH9oPhh8GLJMLfTds_Il0P8zImw55t0/view?usp=sharing">Stadgar 2.0</a>
    </li>
    <li class="protokoll">
        <a href="/doc/Årsmöte_Ambrosiasorden_2021.pdf">Årsmötesprotokoll 2021</a>
    </li>
    <li class="protokoll">
        <a href="https://docs.google.com/document/d/1IzZhkWAMFpVFa65JC8Tzqpaf_ZKLLMg-91ce9CmbniM/edit?usp=sharing">Årsmötesprotokoll 2013</a>
    </li>
    <li class="protokoll">
        <a href="https://docs.google.com/document/d/1pBqeKgaKBoWndtQTdsFdzs0hJWVQzoNj5417srJzO-0/edit?usp=sharing">Årsmötesprotokoll 2012</a>
    </li>
    <li class="protokoll">
        <a href="https://docs.google.com/document/d/1URx8LgC40J6iFS-P4yVLOacHq_jufljlZNSf2SHqhlU/edit?hl=sv">Årsmötesprotokoll 2011</a>
    </li>
</ul>
<h2>Styrelsen</h2>
<table class="table" id="styrelse-table">
    <tr ng-repeat-start="p in styrelse.people">
        <th colspan="2" class="styrelse-name">{{p.name}}</th>
    </tr>
    <tr>
        <td colspan="2" class="styrelse-title">
            {{p.title}}
        </td>
    </tr>
    <tr class="styrelse-info">
        <th>Mail</th>
        <td ng-bind-html="p.mail | brevtagg"/>
    </tr>
    <tr class="styrelse-info">
        <th>Tel</th>
        <td>{{p.phone}}</td>
    </tr>
    <tr ng-if="p.replacer" class="styrelse-info">
        <th>Ersättare</th>
        <td>
            {{p.replacer.name}}<br/>
            <span ng-bind-html="p.replacer.mail | brevtagg"/>
        </td>
    </tr>
    <tr ng-repeat-end>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
