<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Casual</h1>
</div>
Dresscode smart &auml;r detsamma som casual. Dvs. casual &auml;r t.ex. chinos och skjorta utan slips. Smart inneb&auml;r att du tar p&aring; en kavaj. Du har allts&aring; tv&aring; niv&aring;er p&aring; dresscode casual.
<ol>
    <li>Casual eller smart = ledigt, udda byxa och blazer, skjorta - slips eller polotr&ouml;ja</li>
    <li>Business casual= med kavaj och slips.</li>
</ol>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
