<div class="page-header">
    <h1>Frackkl&auml;nning</h1>
</div>
<h2>Utseende&nbsp;</h2>
<p> &Auml;r hell&aring;ng kl&auml;nning eller hell&aring;ng kjol med separat &ouml;verdel. En enkel regel &auml;r att ju
    finare fest desto
    mer tyg nedtill och mindre upptill.</p>

<h2>Urrigningen</h2>
<p>Kan vara s&aring; mycket anst&auml;ndigheten till&aring;ter. Men inget &auml;r en n&ouml;dv&auml;ndighet.</p>

<h2>Modell</h2>
<p>Det &auml;r stor frihet i modell. Den skall vara extra fin, en festkl&auml;nning. Det r&auml;cker. Den kan vara
    rutig, blommig,
    vit.

<h2>F&auml;rg</h2>
<p>Vitt eller svart skall undvikas av kvinnliga br&ouml;llopsg&auml;ster (br&ouml;llop bryter sorg, en mer diskret f&auml;rg
    kan v&auml;ljas)</p>
Svart efter 1 maj till fest &auml;r en nyskapad och felaktig myt. Kvinnan avg&ouml;r. Helvitt &auml;r brudens privilegium!
<h2>L&aring;ngbyxor</h2>
<p>Skall vara alldeles extra fina om de passar till frack, kvinnor b&auml;r inte heller manlig frack.</p>

<h2>Sl&auml;p</h2>
<p>&Auml;r enbart till f&ouml;r frackkl&auml;nning och visar b&auml;rarrinnans h&ouml;ghet</p>
<h2>L&aring;nga handskar</h2>
<p>Passar till en frackkl&auml;nning med kort &auml;rm eller ingen &auml;rm. De kan
    vara kortare till armb&aring;gsvecket eller l&auml;ngre. Korta handskar i handlovsniv&aring; &auml;r fel. L&aring;nga
    handskar beh&aring;lls p&aring; till h&auml;lsning och dans. Men aldrig vid &auml;tande.</p>
<p>Stretchnylonvantar tas av och l&auml;ggs i kn&auml;t, har du tunna skinnhandskar har de ett sprunn med knappar p&aring;
    insidan. Stick ut handen och vik upp handskens fingrar under &auml;rmen. Det &auml;r korrekt att
    beh&aring;lla &auml;rmen p&aring;.</p>

<h2>Skor och v&auml;ska</h2>
<p> &Auml;r festbetonade och fina. V&auml;skan h&auml;ngs p&aring; stolens kant vid m&aring;ltid.</p>

<h2>Smycken</h2>
<p>Kr&auml;vs inte till frackkl&auml;nning, men har du, s&aring; passar det ocks&aring; bra. Alla smycken passar, utom
    keramik eller l&auml;derrem.</p>

<h2>H&aring;ret</h2>
<p>F&aring;r ha vilken frisyr du &ouml;nskar. Inte s&auml;llan antas det felaktigt att det skall vara uppsatt till
    frackkl&auml;nning. Det kr&auml;vs inte. Utslaget, fl&auml;tor, svinrygg. Kvinnan v&auml;ljer helt sj&auml;lv vad
    som passar.</p>
<h2>Smink</h2>
<p> &Auml;r inte heller ett krav.</p>
<h2>Ytterplagg</h2>
<p> &Auml;r ofta en kappa eller schal, speciellt vid br&ouml;llop i kyrkan. Har kvinnan ingen urrigning eller bar arm kr&auml;vs
    det dock inte.</p>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
