<div class="page-header">
    <h1>Jackett</h1>
</div>
<h2>F&ouml;rmiddagsplagg</h2>
<p>Jacketten &auml;r f&ouml;rmiddagens h&ouml;gtidsdr&auml;kt. Anv&auml;nds fram till kl 15.00 </p>
<h2>Brittiskt </h2>
<p>Det &auml;r mer en brittisk vana, men kommer alltmer i Sverige. Men har aldrig blivit succ&eacute; hos oss.</p>
<h2>Till br&ouml;llop och dop</h2>
<p>Jacketten anv&auml;nds till br&ouml;llop och dop och i diplomatkretsar. Men &auml;ven vid lunch som senare forts&auml;tter
    med en middag. D&aring; kan man beh&aring;lla jacketten och slipper byta om.</p>
<h2>Kavajen</h2>
<p>&Auml;r gr&aring; eller svart i f&auml;rgen, liknar lite fracken i utseende, och b&auml;rs med kn&auml;ppta knappar n&auml;r
    du anl&auml;nder till m&ouml;tet.</p>
<h2>Byxorna</h2>
<p> De &auml;r lite r&auml;fflade, och gr&aring;/svartrandiga.</p>
<h2>Knappar och h&auml;ngslen </h2>
<p>De har p&auml;rlemor eller f&auml;rg som detta och dina h&auml;ngslen skall vara gr&aring;. </p>
<h2>V&auml;st</h2>
<p> Gr&aring; sidenv&auml;st. Du kn&auml;pper inte den nedersta knappen. </p>
<h2>Slips </h2>
<p>M&ouml;rk slips eller plastrong som &auml;r gr&aring;m&ouml;nstrad. Du kan b&auml;ra en plastrongn&aring;l i guld,
    silver, vit eller p&auml;rlemor. </p>
<h2>Skjorta </h2>
<p>Av samma modell som till frack, och d&aring; b&auml;r du plastrong. Det g&aring;r att v&auml;lja en skjorta av
    bomull. Till denna b&auml;r du d&aring; slips ist&auml;llet. </p>
<h2>Skor och strumpor </h2>
<p>Svarta blanka skor och strumpor. Men det skall inte vara lackskor till jackett. </p>
<h2>Handskar </h2>
<p>Gr&aring; handskar b&auml;rs ocks&aring; om tillst&auml;llningen &auml;r mer formell.</p>
<h2>Engelsk ben&auml;mning </h2>
<p>Kl&auml;dkoden utomlands &auml;r Morning Coat, Morning dress eller Cutaway </p>
<h2>Kvinnan </h2>
<p>Kvinnor anpassar jackett efter situationen. Se <a href="frackklanning.php">frack</a>, <a href="smokingklanning.php">smoking</a>
    eller <a href="morkkostymkvinna.php">kostymkl&auml;nning</a>.</p>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
