<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>M&ouml;rk kostymkl&auml;dsel f&ouml;r kvinna</h1>
</div>
<p class="lead">Det kan vara sv&aring;rt med m&ouml;rk kostymkl&auml;dsel f&ouml;r kvinnan. Man kan anv&auml;da en enklare smokingkl&auml;dsel
    (se <a href="#/dresscode/aftonklanning">aftonkl&auml;nning</a>) vid m&ouml;rk kostymfest, observera att det d&aring; skall
    vara t&auml;ckta axlar (ex. en sjal). M&ouml;rk kostym skall var mycket finare &auml;n vardag.</p>
<p>
    Generellt kan man s&auml;ga att kjolen eller kl&auml;nningen skall sluta under kn&auml;et och att &ouml;verdelen ska
    ha t&auml;ckta axlar (om &ouml;verdelen har bara axlar, b&ouml;r man ha en sjal, kavaj eller liknande) och lagom
    urringning. H&auml;r spelar dock modet in en del vilket kan g&ouml;ra det okej med en n&aring;got kortare kjol / kl&auml;nning
    och det &auml;r ocks&aring; modet som avg&ouml;r vad som &auml;r lagom urringat. En annan aspekt p&aring; l&auml;ngd
    och urringning, &auml;r sj&auml;lvklart s&auml;llskapet. Det finns ju en viss skillnad mellan mormors 90 &aring;rsfest
    och en fest med kompisar...
</p>
<h2>En liten svart </h2>
<p>Av siden, sammet eller cr&ecirc;pe. En okomplicerad kl&auml;nning kan fungera utm&auml;rkt.</p>
<h2> L&aring;ng kjol med &ouml;verdel </h2>
<p>En liten jacka eller liv med &auml;rmar och en l&aring;ng kjol kan kr&auml;vas vid mycket fin kl&auml;dsel och stor
    middag. Det f&aring;r inte vara ylle eller linnekavaj eller kjol. Inte heller en praktfull aftonkl&auml;nning med
    glitter. Om det &auml;r en kortare kl&auml;nning kan den vara glittrig, d&aring; det tar bort effekten som aftonkl&auml;nning.
    Dock inte stor festkl&auml;nning (se <a href="#/dresscode/frackklanning">frackkl&auml;nning</a> )</p>
<h2>F&auml;rg och m&ouml;nster </h2>
<p>F&auml;rgen v&auml;ljer du helt efter eget tycke och smak. F&ouml;r detta med f&auml;rg, m&ouml;nster eller nyanser
    finns inga regler. Det finns de som h&auml;vdar att r&ouml;tt &auml;r syndens f&auml;rg. Vilket &auml;r fel. Det
    enda du skall undvika &auml;r helvitt eller helsvart vid br&ouml;llop. Men &auml;ven dessa f&auml;rger kan anv&auml;ndas
    om du bryter med en klarare f&auml;rg i tex. top, kavaj eller ett band runt midjan.</p>
<h2>Smycken </h2>
<p>Kan f&ouml;rh&ouml;ja eller s&auml;nka niv&aring;n beroende p&aring; tillf&auml;lle. </p>
<h2>Skor och V&auml;ska </h2>
<p>Till detta lackskor och lackv&auml;ska.</p>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
