<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Mörk kostym</h1>
</div>
<p class="lead">Kan b&auml;ras lunch till kv&auml;ll, jubileumsmiddag, vid studentfest, en b&auml;ttre middag vare sig med eller utan
    utan dans. Br&ouml;llop med d&auml;r ni &auml;ter lunch efter&aring;t, en mottagning, middag eller sup&eacute;.</p>
<h2>N&auml;r </h2>
<p>Premi&auml;rer, dop, eller mycket fin lunch, en fin mottagning. M&ouml;rk kostym med vit skjorta passar som aff&auml;rskl&auml;dsel
    och givetvis vid begravningar.</p>
<h2>Kl&auml;dniv&aring; </h2>
<p>Innan kostymen blev en egen kl&auml;dniv&aring; i b&ouml;rjan av 1900 talet hette det kavajkostym, vilket innebar m&ouml;rk
    kostym. Detta har blivit mer sv&aring;rt att tolka under 1900-talets slut, s&aring; f&ouml;r att undvika missf&ouml;rst&aring;nd
    skrivs Kavaj och M&ouml;rk kostym olika.</p>
<h2>Om Kavaj skrivs p&aring; inbjudan </h2>
<p>St&aring;r det kavaj p&aring; inbjudan anser etikettskunniga att &auml;r det m&ouml;rk kostym. Och &auml;r det br&ouml;llop
    kan du utg&aring; ifr&aring;n att Kavaj avser M&ouml;rk kostym. Men idag betyder Kavaj p&aring; en inbjudan att
    det &auml;r utan krav p&aring; m&ouml;rk kostym. Risk f&ouml;r missf&ouml;rst&aring;nd allts&aring;!</p>
<h2>Skriv M&ouml;rk Kostym p&aring; inbjudan </h2>
<p>Skriv m&ouml;rk kostym p&aring; inbjudan s&aring; &auml;r otydligheten borta, missf&ouml;rst&aring;nd undvikes och
    d&aring; &auml;r det inte heller utbytbart mot ljus kostym eller smoking.</p>
<h2>Vad inneb&auml;r m&ouml;rk kostym </h2>
<p>M&ouml;rk kostym inneb&auml;r byxa och kavaj i samma tyg och m&ouml;rkt marinbl&aring;tt eller m&ouml;rkt, m&ouml;rkt
    gr&aring;tt. Ofta k&ouml;per man idag svart, och det f&aring;r anses vara korrekt. Till detta skall du b&auml;ra vit
    skjorta och slips eller fluga. Ett steg under klassen m&ouml;rk kostym, &auml;r kritsrecksrandigt.</p>
<h2>F&auml;rgen </h2>
<p>F&auml;rger som brun, m&ouml;rkr&ouml;d &auml;r inte m&ouml;rk kostym. Inte heller i ljusare bl&aring;tt och &auml;ven
    om det &auml;r sommarvarmt. Det faller under begreppet kavaj.</p>
<h2>M&ouml;nster </h2>
<p>M&ouml;nster kan finnas i form av m&ouml;rka r&auml;nder. Icke m&ouml;nstrat &auml;r finare.</p>
<h2>Skjortan </h2>
<p>Skjortan &auml;r vit, men pastell g&aring;r bra, fast s&auml;nker niv&aring;n. Polotr&ouml;ja &auml;r sportkl&auml;dsel.</p>
<h2>Slips eller fluga </h2>
<p>Slips &auml;r ett krav. Eller fluga. Av siden eller annat kv&auml;llsliknande material. Aldrig v&auml;vt eller
    ylle.</p>
<h2>V&auml;st </h2>
<p>V&auml;st med nedersta knappen okn&auml;ppt. Sidenv&auml;st i annan f&auml;rg &auml;r korrekt till kv&auml;llsbruk. V&auml;st &auml;r
    inget krav.</p>
<h2>Skor och strumpor </h2>
<p>Svarta tunna skor och m&ouml;rka strumpor.</p>
<h2>Utm&auml;rkelsetecken </h2>
<p>N&auml;r m&ouml;rk kostym anv&auml;nds som festdr&auml;kt, kan till den b&auml;ras halskorset av ett kommend&ouml;rstecken
    samt alla officiella och halvofficiella br&ouml;stordnar och beroende p&aring; tillst&auml;llningen privata f&ouml;rtj&auml;nsttecken
    som b&auml;rs p&aring; br&ouml;stet. Kommend&ouml;rer av 1:a klassen och kommend&ouml;rer med storkors kan anv&auml;nda
    endast en kraschan. Till m&ouml;rk kostym kan man d&auml;remot inte b&auml;ra storkorsband</p>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
