<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<div class="page-header">
    <h1>Vardaglig klädsel</h1>
</div>
<h2>Kom som du &auml;r eller Come as You are </h2>
<p>&Auml;r en kod som inte finns, men om den skrivs kr&auml;vs det att man verkligen f&ouml;rvissar sig om att g&auml;sterna
    f&ouml;rst&aring;tt.</p>
<h2>Vardaglig kl&auml;dsel eller fritidskl&auml;dsel </h2>
<p>Kanske skulle den engelska &ouml;vers&auml;ttningen bli Casual. En kl&auml;dkod som efterfr&aring;gas. Man vill inte
    ha d&aring;ligt kl&auml;dda g&auml;ster, men inte heller &quot;&ouml;verkl&auml;dda&quot;. Etikettdoktorn s&auml;tter
    nu denna nya kod - Vardaglig kl&auml;dsel.</p>
<h2>Inga jeans </h2>
<p>Eller smutsiga slitna t-shirts &auml;r det som avses. F&ouml;r det kan ju l&auml;tt tolkas som att man kommer i
    precis det man har n&auml;r inbjudan l&auml;ses.</p>
<h2>P&aring; vintern </h2>
<p>Avses en tr&ouml;ja, kanske en cardigan med skjorta med uppkn&auml;ppt krage och en t-shirt under. Ett par Chinos kan
    passa bra. F&ouml;r henne passar det bra med en topp, Och det kan fungera med en stickad tr&ouml;ja d&auml;rtill.
    Vill han, kan han b&auml;ra en kavaj, uppkn&auml;ppt och avslappnat.</p>
<h2>P&aring; sommaren </h2>
<p>Kan det faktiskt inneb&auml;ra ett par halvl&aring;nga shorts p&aring; dagen, eller bomullsbyxor med en kort&auml;rmad
    skjorta eller pik&eacute; d&auml;rtill. F&ouml;r henne kan det vara allt fr&aring;n kort kjol och en l&auml;t topp
    med bara axlar till en sk&ouml;n bomullsbyxa med top d&auml;rtill.</p>
<p align="right" style="font-size: smaller; font-style:italic">K&auml;lla: <a href="http://www.etikettsdoktorn.se">www.etikettsdoktorn.se</a>
</p>
